.nav-bar {
    /* border: solid red 1px; */
    position: fixed;
    top: 0;
    width: 100%;
    text-align: left;
    height: 8vh;
    background-color: rgb(78, 70, 70);
    /* display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.links {
    /* border: solid blue 1px; */
    /* grid-column: 2/3; */
    display: flex;
    align-items: center;
}

.nav-links {
    height: 100%;
    /* border: green solid 1px; */
    color: whitesmoke;
    font-size: 200%;
    text-decoration: none;
    margin: 0.5rem;
}

.sub-links {
    display: flex;
    align-items: center;
    font-size: 150%;
}
